<ion-header lines="none" detail="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="news">
    <h3>All Bookings</h3>
  </div>
</ion-header>

<ion-content class="main">
<div class="lower" *ngFor="let item of deliverymans" >
  <ion-item lines="none" detail="false" class="question">
      <img src="{{item.userProfile}}" alt="" class="image">
    <ion-label class="dd">
      <p class="p1">User Name: {{item.user_name}}</p>
      <span class="p2">User Email: {{item.email}}</span>
      <p class="p3">User Type: {{item.usertype}}</p>
      <p class="p4">User Town: {{ item.userTown }}</p>
      <p class="p4">User Address {{ item.user_address }}</p>
      <p class="p5" [class.active]="item.permission">Permission: {{item.permission}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <button class="btn btn-primary" slot="start" (click)="allowpermission(item.key)" *ngIf="!item.permission">Allow Permission</button>
    <button class="btn btn-danger" slot="start" (click)="notpermissions(item.key)" *ngIf="item.permission">Not Permission</button>
  </ion-item>
</div>

<!-- <div class="lower">
  <ion-item lines="none" detail="false" class="question">
      <img src="../../../assets/img/doc1.PNG" alt="" class="image">
    <ion-label class="dd">
      <p class="p1">Klinikum Dortmund gGmbh</p>
      <span class="p2">Orthopadie</span>
      <p class="p3">Prof. Dr. Christen Luring</p>
      <p class="p4">tel. +49(0)231953-21850</p>
    </ion-label>
  </ion-item>
</div>
<div class="lower">
  <ion-item lines="none" detail="false" class="question">
      <img src="../../../assets/img/med1.jpg" alt="" class="image">
    <ion-label class="dd">
      <p class="p1">Klinikum Dortmund gGmbh</p>
      <span class="p2">Orthopadie</span>
      <p class="p3">Prof. Dr. Christen Luring</p>
      <p class="p4">tel. +49(0)231953-21850</p>
    </ion-label>
  </ion-item>
</div>
<div class="lower">
  <ion-item lines="none" detail="false" class="question">
      <img src="../../../assets/img/doc2.PNG" alt="" class="image">
    <ion-label class="dd">
      <p class="p1">Klinikum Dortmund gGmbh</p>
      <span class="p2">Orthopadie</span>
      <p class="p3">Prof. Dr. Christen Luring</p>
      <p class="p4">tel. +49(0)231953-21850</p>
    </ion-label>
  </ion-item>
</div> -->
</ion-content>
