<ion-content>
  <div class="logo">
    <img src="../../../assets/img/logo1.png" alt="" class="image">
  </div>
  <div class="main">
    <div class="inputs">
      <label for="email" class="label">E-mail</label>
      <input type="text" name="email" [(ngModel)]="users.email" class="inputstyle">
    </div>
    <div class="inputs">
      <label for="email" class="label">Password</label>
      <input type="password" [(ngModel)]="users.password" name="password" class="inputstyle">
    </div>
    <div class="inputs">
      <label for="email" class="label">User Type*</label>
      <select name="cars" id="cars" class="inputstyle" [(ngModel)]="users.usertype">
        <option value="users">Users</option>
        <option value="admin">Admin</option>
        <option value="deliverymen">Delivery Man</option>
  </select>
    </div>
   <div class="bgr-buttn" (click)="login()">
    <button class="bg_mybtn">Login</button>
   </div>
   <div class="text-botom" routerLink="/register">
     <p >Don't have account?</p>
     <p class="mm">You can register yourself</p>
   </div>
  </div>
</ion-content>
