/* Start header  */
#my_menu{
    color:#3b3b3b;
    font-size: 35px;
    margin: 15px;
    margin-left: 25px;
}
#search{
    color: #3b3b3b;
    font-size: 25px;
    margin: 15px;
}
.news{
    height: 45px;
    width: 100%;
    margin-top: -15px;
    background:#FBBE41 ;
}
.news h3{
    
    text-transform: uppercase;
    color: #ffff;
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
}