<ion-content>
  <div class="upper">

  </div>
  <div class="main">
    <div class="main2">
      <h3 class="uperheading">We welcome you</h3>
      <p class="paragraphtext">Please select in your own wish!</p>
      <div class="bgr-buttn" routerLink="/login">
        <button class="bg_mybtn">Login</button>
       </div>
      <div class="bgr-buttn" routerLink="/register">
        <button class="bg_mybtn">Register</button>
       </div>

    </div>
  </div>
  <div class="lower">

  </div>
</ion-content>
